/* Created by: Rory Mackay
* Created on: Mar 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-04-HTML-Salary
*/

body {
	background-color: #ffbdbd;
}

h1 {
	background-color: rgb(133, 0, 0);
	color: hsl(0, 0%, 100%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: rgb(133, 0, 0);
  padding: 5px;
  color: hsl(0, 0%, 100%);
}

h2 {
	background-color: rgb(255, 255, 255);
	color: rgb(133, 0, 0);
	text-align: center;
}